{% extends 'base.html' %}
 
{% block title %}RailWay - Profile{% endblock %}

{% block content %}

<div class="container-lg mb-5">
    <h2 class="m-3">Аккаунт</h2>

    <form action="{% url 'update_profile' request.user.id %}" method="post">
    {% csrf_token %}

    <div class="input-group m-3">
        <label class="input-group-text" for="id_last_name">Фамилия&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        {% if request.user.last_name %}
        <input name="last_name" value="{{ request.user.last_name }}" required class="form-control p-2" type="text" id="id_last_name">
        {% else %}
        <input name="last_name" required class="form-control p-2" type="text" id="id_last_name">
        {% endif%}
    </div>
    <div class="input-group m-3">
        <label class="input-group-text" for="id_first_name">Имя&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        {% if request.user.first_name %}
        <input name="first_name" value="{{ request.user.first_name }}" required class="form-control p-2" type="text" id="id_first_name">
        {% else %}
        <input name="first_name" required class="form-control p-2" type="text" id="id_first_name">
        {% endif%}
    </div>
    <div class="input-group m-3">
        <label class="input-group-text" for="id_third_name">Отчество&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input name="third_name" required {% if request.user.third_name %} value="{{ request.user.third_name }}" {% endif%} class="form-control p-2" type="text" id="id_third_name">
    </div>
    <div class="input-group m-3">
        <label class="input-group-text" for="id_email">E-mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input style="background-color: #fff; color: #000;" disabled value="{{ request.user.email }}" class="form-control p-2" type="email" id="id_email">
    </div>
    <!-- <div class="input-group m-3">
        <label class="input-group-text" for="id_password">Пароль&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input name="password" class="form-control p-2" type="password" id="id_password">
    </div> -->
    <button class="btn btn-danger m-3" type="submit">Сохранить</button>
    </form>
</div>

<div class="container-lg">
    <h2 class="m-3">Билеты</h2>
    {% for t in request.user.tickets.all %}
    <div class="card mb-3">
        <h3 class="card-header">Поезд <span class="badge bg-danger">{{t.train.name}}</span></h3>
        <div class="card-body">
            <div class="mb-3 d-flex">
                <div class="container-fluid p-3">
                    <h5 class="card-title">Время</h5>
                    <div class="">
                        <p class="card-text">Отправление:<br>{{t.train.start_date}}<br>{{t.train.start_time}}</p>
                        <p class="card-text">Прибытие:<br>{{t.train.end_date}}<br>{{t.train.end_time}}</p>
                    </div>
                </div>
                <div class="container-fluid">
                    <h5 class="card-title">Место</h5>
                    <p class="card-text">Отправление: {{t.train.start_city}}</p>
                    <p class="card-text">Прибытие: {{t.train.end_city}}</p>
                </div>
            </div>
            <div class="mb-3 d-flex">
                <div class="container-fluid p-3">
                    <h5 class="card-title">Вагон</h5>
                    <p class="card-text">Номер: {{t.carriage.number}}<br>Тип: {{t.carriage.place_type}}</p>
                </div>
                <div class="container-fluid">
                    <h5 class="card-title">Место</h5>
                    <p class="card-text">Номер: {{t.places.number}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}